<div>
  <nav
    class="flex justify-between items-center h-[50px] border-b border-neutral-400 px-[5%] text-white bg-green-500 py-[1rem]"
  >
    <div><a href="#" class="text-3xl"> Tasker </a></div>

    <div class="flex justify-between items-center">
      <div>
        <img
          src="

            https://images.pexels.com/photos/18366577/pexels-photo-18366577/free-photo-of-young-brunette-in-denim-jacket-with-embellishments.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1
            "
          alt=""
          class="w-[30px] h-[30px] rounded-full"
        />
      </div>
      <div class="ml-[1.5rem]">
        <p>{{name}}</p>
      </div>
    </div>
  </nav>
</div>
